<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Guestbook</title>
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        input[type=submit] {
            background-color: #276cda; /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            /* margin: 4px 2px; */
            cursor: pointer;
            border-radius: 5px;
            height: 2.50em;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
</head>
<body>

<header>
</header>

<main>
    <div style="margin: auto; width: 70%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <form method="POST" action="/">
            <div style="margin-bottom: 2%;">
                <p><b>Author</b></p>
                <p><input type="text" id="txtAuthor" name="txtAuthor" placeholder="please input your name"></p>
                <p><b>Message</b></p>
                <p><input type="text" id="txtMessage" name="txtMessage" placeholder="please input your message"></p>
                <p><input type="submit" id="submitBtn" value="Post"></p>
            </div>
        </form>
        <% for (let i = tagline.length; i > 0; i--) { %>
            <div style="border: 1px #adadad solid;">
                <p style="padding-left: 1%;"><strong><%- tagline[i-1].name %></strong> at <%- tagline[i-1].date %></p>
                <p style="padding-left: 1%;"><%- tagline[i-1].message %></p>
            </div>
        <% } %>
    </div>
</main>

<footer>
</footer>

</body>
</html>